{% extends 'base/_.html' %}
{% block content %}
<div class="grid span-12">
	<div class="span-6-start-4 justify-center">
		<span class="text page-title">Password reset request</span>
	</div>
</div>
<div class="grid span-12 bg-grey">
	<form action="{% url 'password-reset-request' %}" method="POST" class="span-12">
		{% csrf_token %}
		<input type="text" name="txtToken" placeholder="Token">
		<div class='input-pair'>
			<label for="txtUsername">Username</label>
			<input type="text" name="txtUsername" id="txtUsername">
		</div>
		<div class='input-pair'>
			<label for="txtUserEmail">Email</label>
			<input type="text" name="txtUserEmail" id="txtUserEmail">
		</div>
	</form>
</div>
{% endblock content %}